################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JuegoDeLaVida/v17/Browse.VC.db
/.vs/JuegoDeLaVida/v17/Browse.VC.opendb
/.vs/JuegoDeLaVida/v17
/.vs
